:root {
    --white-color: #fff !important;
    --black-color: #000 !important;
    --text-color: #333 !important;
}
* {
    box-sizing: inherit;
}
html {
    /* 16px
    trick: 62.5% ->> 1rem = 10px
    */
    font-size: 62.5%;
    /* set line height */
    line-height: 1.6rem;
    /* set font */
    /* font-family: 'Roboto Mono', monospace; */
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
.grid {
    width: 1200px;
    /* if (width < 1200px)
        width = screen-width  */
    max-width: 100%;
    /* align 2 sides */
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.pull__right {
    float: right !important;
}
.cancel-pointer {
    cursor: text;
    color: var(--white-color);
}