.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6232,#f6402d);
}

.navbar {
    color: var(--white-color);
    font-size: 13px;
    justify-content: space-between;
    position: relative;
}

.navbar__list {

}

.navbar__item {

}

.navbar__item-link {

}

.navbar__item-download {

}
